@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Quicksand&display=swap');

body{
  text-align: center;
  background-color:cornsilk;
  font-family: 'Noto Sans JP', sans-serif;
}



#spinner{
  font-size: 140px;


}

#values{

}

#timestamps{
  
}

#result{
  
}

#spinner:after {
  display: inline-block;
  content: '◌';
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  
}
@-webkit-keyframes spin{
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}


#chart {
    border: 1px solid black;
}

